/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #1e1e2f;
  color: #e5e7eb;
}

/* PAGE CENTER */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.card {
  background: #2b2b3d;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  text-align: center;
}

/* HEADINGS */
h1, h2, h3, h4 {
  margin-bottom: 20px;
  color: white;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  font-size: 14px;
  background: #1e1e2f;
  color: white;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

/* BUTTONS */
button {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4CAF50;
}

/* LINK BUTTON */
.link-button {
  background: #9333ea;
  margin-top: 10px;
}

.link-button:hover {
  background: #7e22ce;
}

/* SMALL TEXT */
.small-text {
  margin-top: 15px;
  font-size: 14px;
  color: #4CAF50;
}


